[Unit]
Description=Service 1
After=network.target

[Service]
User=mrblmg
WorkingDirectory=~/sercives/fuzzy-octo-test/muschooly
ExecStart=~/fuzzy-octo-test/muschooly/start.sh
Restart=always

[Install]
WantedBy=multi-user.target