[Unit]
Description=Service 1
After=network.target

[Service]
User=mrblmg
Group=mrblmg
WorkingDirectory=/home/mrblmg/sercives/fuzzy-octo/muschooly
ExecStart=/home/mrblmg/sercives/fuzzy-octo/muschooly/start.sh
Restart=always

[Install]
WantedBy=multi-user.target